:root {
  --footer-color: rgb(3, 30, 54);
  --background: ;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  margin-bottom: 100px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: aqua;
}
h1 {
  text-align: center;
}

.inputBook {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
 
}
.book-display {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 10px 15px;
  padding: 10px 10px;
  gap: 10px;
  flex-wrap: wrap;
}
.book-display div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
div .btn-div{
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
div .book-text{
  border: none;
  display: flex;
  flex-direction: row;
  gap: 2px;
}


.footer {
  padding: 10px;
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* Height of the footer */
  background-color: var(--footer-color);
}
.footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: aliceblue;
  font-size: 20px;
}
.rotate-icon {
  transition: transform 0.3s ease-out;
}
.rotate-link:hover .rotate-icon {
  transform: rotate(360deg);
}
