body {
  margin: 0;
  padding: 0;
  height: auto;
}
h1 {
  text-align: center;
}
.inputBookContainer {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.inputBook {
  display: none;
}
.book-display {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0 auto;
  padding: 5px 5px;
  gap: 10px;
  flex-wrap: nowrap;
}
.book-display div {
  border: 2px solid black;
  padding: 2px;
}
.inputBookActive {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  gap: 10px;
  width: 500px;
  left: auto;
  right: auto;
  background-color: blue;
}

.footer {
  padding: 10px 0;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* Height of the footer */
  background-color: rgb(3, 30, 54);
}
.footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: aliceblue;
  font-size: 20px;
}
.rotate-icon {
  transition: transform 0.3s ease-out;
}
.rotate-link:hover .rotate-icon {
  transform: rotate(360deg);
}
